@media (max-width: 991px) {
    .navbar-collapse {
        background-color: white !important;
        padding: 1rem !important;
        margin: 1rem;
        border-radius: 0 0 1rem 1rem !important;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1) !important;
    }
}

.search-btn {
    background-color: #fe424d;
    color: white;
    border-radius: 2rem;
    padding: 0 1rem 0 1rem;
}

.search-btn:hover {
    background-color: #fe424d;
    color: white;
}

.search-btn i {
    display: inline;
    margin-left: 0.40rem;
}

.search-input {
    border-radius: 1rem;
    padding: 0.5rem 3rem 0.5rem 3rem;
    font-size: 1rem;
}