#map {
    width: 100%;
    height: 400px;
    border-radius: 10px;
}

.show-card h3,
.listing-card {
    word-wrap: break-word;
}

@media (max-width: 768px) {

    .listing-card,
    .show-card,
    .btns,
    #map,
    .col-8,
    .col-6 {
        margin-left: auto !important;
        margin-right: auto !important;
        width: 100% !important;
        padding: 0 1rem;
    }

    .card.col-5 {
        width: 100% !important;
        margin-left: 0 !important;
    }

    .btns a,
    .btns form {
        display: inline-block;
        margin: 5px 5px 0 0;
    }

    .offset-3 {
        margin-left: 0 !important;
    }

    .starability-slot label {
        font-size: 0.9rem;
    }
}