/* body{
    background: pink;
} */

/* Navbar */
nav{
    height: 5rem;
    background: white;
}
.fa-bounce{
    font-size: 2rem;
    color: #fe424d;
}
.nav-link{
    color: #222222 !important;
}

/* Footer */
.f-info{
    display: flex;
    height: 8 rem;
    background: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-evenly;
}
.f-info-socials{
    width: 100%;
}
.f-info-links{
    width: 100%;
}
.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline;
}